ul{
  list-style: none;
}
a{
  text-decoration: none;
}

/* top css*/
.header{
  background: rgb(41, 36, 33) !important;
}

.top-left{
  line-height: 50px;
  text-align:  left;
  font-family: "微软雅黑";
  color: #fff;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 100;
}

.top-right{
  float:right;
}

.button{
  width: 50px;
  height: 50px;
  line-height: 70px;
  display: inline-block;
  padding: 0;
  text-align: center;
  float: right;
  margin-right: 10px;
}

.button img{
  width:22px;
  height:22px;
}

.top-right ul{
  background: #333;
  margin: 0;
  padding: 0;
  width: 189px;
  height:210px;
  margin-top: 50px;
  display:none;
}
.block{
  display: block !important;
}

.top-right ul li{
  width: 189px;
  height: 31px;
  line-height: 35px;
  border-top: 1px solid black;
  padding: 5px;
}
.top-right ul li:hover{
  background: rgb(71, 71, 71);
}
.top-right li img{
  width: 16px;
  height: 16px;
  line-height: 39px;
  margin:0 10px;
}
.top-right li a{
  color: #fff;
  font-family: "微软雅黑";
  font-weight: 100;
  font-size: 16px;
}
.top-right li a:hover{
    color: #fff;
}





/*foot css*/
.foot{
  background:#fff !important;
}
.navbar{
  margin: 0;
  padding: 0;
}
.navbar li{
  width: 25%;
  float: left;
  text-align: center;
}
.navbar li img{
  width: 30px;
}
.navbar li a{
  color: #a2a3a4;
}
